<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz3yvk3H-Bp6eRDzsx8aJgiUehMXdfA3U</string>
	<key>GCM_SENDER_ID</key>
	<string>308760362052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pthakur11205.masalafood</string>
	<key>PROJECT_ID</key>
	<string>masala-8df83</string>
	<key>STORAGE_BUCKET</key>
	<string>masala-8df83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308760362052:ios:976b37a041e4a714c91011</string>
</dict>
</plist>